.container{
    margin-left: 15vw;
   /*height: 100vh;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 2vh;
    
}
#header{
border-bottom: solid #465358 1px;
}
.dateDiv{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foodDate{
    width: 30vw;
}
.remainCal > img{
    width: 6vw;
    filter: invert(28%) sepia(15%) saturate(7190%) hue-rotate(229deg) brightness(98%) contrast(85%);
    -webkit-filter: invert(28%) sepia(15%) saturate(7190%) hue-rotate(229deg) brightness(98%) contrast(85%);

}
#header{
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 20vw;
}

#header > img{
    width: 10vw;
    margin-left: 2vw;
}

#header, .remainCal{
    display: flex;
    flex-flow: row nowrap;
}

.remainCal {
    justify-content: center;
    align-items: center;
}
.remainCal h2{
    font-size: 22px;
}
table{
    width: 60vw;
    font-size: 18px;
    line-height: 40px;
}
table, tr, th,td{
    text-align: center;
    margin: 0;
    padding: 0;

}
.tableTitles{
    background-color: #5a4dc3;
    color: white;
}

#foodTable{
    background-color: #aca4e3;
    color: black;
}

.calTable{
    margin-top: 6vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.btns{
    align-self: flex-end;
}

.btns button{
    border-radius: 10px;
}

.calTable img{
    width: 3vw;
}

#addBtn:hover{
    filter: invert(79%) sepia(9%) saturate(2914%) hue-rotate(82deg) brightness(90%) contrast(75%);
}

@media screen and (max-width: 700px) {
    .container{
        margin-left: 0;
        margin-top: 10vh;
        gap: 1vh;
    }
    #header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
    #header img{
        display: none;
    }


    table{
        width: 80vw;
    }
    .calTable{
        margin-top: 0;
    }
    table, tr, th,td{
        font-size: 14px;
    }

    button{
        width: 15vw;
        height: 7vh;
    }
    .calTable img{
        width: 7vw;
    }

}

#foodInput{
    width: 60vw;
    height: 3vh;
    justify-content: center;
}
#foodInput > input{
    width: 10vw;
}

#delete > img{
    width: 1vw;
}

#delete{
    border: none;
    background-color: white;
}

.inBtns{
    display: flex;
    gap: 1vw;
}
#addBtn > img{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 700px) {
    #foodInput{
        margin-top: 6vh;
        flex-direction: column;
        justify-content: center;
    }
    #foodInput > input{
        width: 40vw;
    }

    #delete > img{
        width: 2vw;
    }

    .inBtns{
        flex-direction: row;
    }
    .inBtns,#addBtn {
        width: 10vw;

    }
    .inBtns >img, #addBtn > img{
        width: 4vw;
    }
    #addBtn, #newFood {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    tr,td{
        font-size: 12px;
    }
    th{
        font-size: 14px;
    }
    table{
        width: 95vw;
    }

    #addBtn{
        height: 4vh;
        width: 10vw;
    }

}