.container{
    margin-left: 15vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 2vh;
    
}
#header{
border-bottom: solid #465358 1px;
}

#header{
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 20vw;
}

#header > img{
    width: 10vw;
    margin-left: 2vw;
}


#header, .subHead{
    display: flex;
    flex-flow: row nowrap;
}

.subHead {
    justify-content: center;
    align-items: center;
}
.subHead h2{
    font-size: 22px;
}
table{
    width: 60vw;
    font-size: 18px;
    line-height: 40px;
}
table, tr, th,td{
    text-align: center;
    margin: 0;
    padding: 0;

}
.tableTitles{
    background-color: #5a4dc3;
    color: white;
}

.exRow{
    background-color: #aca4e3;
    color: black;
}

.exTable{
    margin-top: 10vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.btns{
    align-self: flex-end;
}

.btns button{
    border-radius: 10px;
}

.exTable img{
    width: 3vw;
}

#addBtn:hover{
    filter: invert(79%) sepia(9%) saturate(2914%) hue-rotate(82deg) brightness(90%) contrast(75%);
}
#deleteBtn:hover{
    background-color: red;
}

@media screen and (max-width: 700px) {
    .container{
        margin-left: 0;
        margin-top: 10vh;
        gap: 1vh;
    }
    #header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
    #header img{
        display: none;
    }

    table{
        width: 80vw;
    }
    .exTable{
        margin-top: 0;
    }
    table, tr, th,td{
        font-size: 14px;
    }
    button{
        width: 15vw;
        height: 7vh;
    }
    .calTable img{
        width: 7vw;
    }

}